{% extends "base.html.twig" %}

{% block title %}Produits{% endblock %}

{% block body %}
{% include "_partials/_head.html.twig" %}
<h1>produits</h1>
{% include "_partials/_footer.html.twig" %}
{% endblock %}